*{
	padding: 0;
	margin-top: 0;
}
body{
	overflow-x: hidden;
	font-family: 'Opne Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	background-color: #EBEEF2;
}
li{
	list-style: none;
	display: inline-block;

}
a{
	text-decoration: none;
	transition: all 500ms ease-in-out;
}
a:hover,
a:active{
	text-decoration: none;
}
h2{
	font-family: Arial, serif !important;
	color: white;

	font-stretch: 55px;
}
h1,
h2,
h4{
	font-family: Arial, serif !important;
	font-weight: 800;
}
p{
	font-size: 15px;
	line-height: 21px;
}


.btn{
	transition: all 300ms ease-in-out;
	font-weight: 500 !important;
	text-transform: uppercase;
}
.btn:hover{
	background-color: #ededed !important;
	color: #3c3c3c !important;
	border: : 1px solid #fff !important;

}
/*NAVIGATION*/
.navbar{
	/*background-color: #222222 !important;*/
	text-transform: uppercase;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-weight: 700;
	background-image: url("../images/menubar.jpg");
	color: gold;
	font-family: Arial, serif !important;
}
#navmenu .nav-link{
color: white;
}

#navmenu .nav-link:hover{
color: gold;
}

.navbar a{
	color: white !important:
	opacity: 0.7;
}
.navbar a:hover{
	opacity: 1;
	background-color: rgba(213, 222, 235, 0.1);
	border-radius: 5px;
	border: 1px solid #08415c;

}

/*logo*/
.logo{
	height: 50%;
	width: 50%;
	float: left;
	padding: 10px;
	padding-top: 10px;
	}

.logoname{
	font-size: 25px !important;
	padding: 10px;
	padding-left: 50px;
	margin-top: 10px;
	float: left;

}

/*landing*/
#landing{
	font-size: 40px;
	font-weight: 500px;
	font-weight: bolder;
	color: white;
	font-family: Arial, serif !important;
	height: 80px;
	letter-spacing: 2px;
}

.jumbotron-fluid{
	background-image: url("../images/landingpage.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;

   }

.btn{
    position: relative;
     text-align: center; 
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#header1 h2{
	font-size: 50px !important;
	font-weight: 50px !important;
	color: gold;
	
	font-family: Arial, serif !important;
	
	/*font-family: 'Varela Round', sans-serif;*/
	margin-top: 10px;
	text-shadow: 5px 10px 18px black !important;


}
.header1 .btn{
	border-radius: 5px;
	width: 40%;
	font-size: 15px;
	background-color: gold;
	color: red;
	border-radius: 50px
	padding: 30px;
	font-size: 21px;
	font-weight: bolder;
	border: 1px solid red;
	
}
.header1 .btn:hover{
	background-color: rgba(213, 222, 235, 0.1);
	color:gold;
}
.lprow{
	height: 100vh;
}
.lpcol{
	width: 100%;
}
#lpbutton{
	border-radius: 30px;
	font-family: Arial, serif !important;
	font-size: 30px;
}

.lpbox{
	margin-top: 500px;
	border: 1px solid #6782b4;
	padding: 40px;
	width: 70%;
	border-radius: 50px;
/*	text-align: center;*/
	margin: auto;
	box-shadow: 5px 10px 18px #888888;
	margin-top: 70px;
	padding-bottom: 80px;
	height: 400px;
}
.lpbox li{
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	word-spacing: normal;
	font-family: 'Muli', sans-serif;
	height: 50px;
	font-family: 'Varela Round', sans-serif;
	margin-top: 30px;
	text-shadow: 5px 10px 18px #888888;

}
/*header*/
.header{
	
	width: 100%;
	padding: 30px 0 30px;
	/*margin-top: 10px;*/
	background-color: #b3cdd1;
	background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);

	/*background-image: url("../images/landingpage.png");*/
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}
/*.header img{
	height: 350px;
	width: 450px;
	margin: 70px 0 40px;
}*/

.header h1{
	font-size: 40px;
	font-weight: 700px;
	padding-top: 30px;
	font-family: 'Raleway';
	font-weight: bolder;
}
.header h1,
.header p,
.header button{
	margin-top: 20px;
}
.header .btn{
	border-radius: 0;
	margin: 40px;
}

/*home*/
.h2gcubes,
.pcgubes,
.h2who,
.h2brief{
	color: black;
	text-shadow: 5px 10px 18px #888888;
}
.imghome{
	width: 100%;
	height: 230px;
	background: cover;
	background-repeat: no-repeat;
	background-image: url("../images/city1.jpg");
	padding-top: 70px;
	color:rgb(199, 0, 0);
	position: relative;
}
.imghome h3{
	font-size: 35px;
	font-family: 'Raleway';
	text-shadow: 5px 10px 18px #888888;

}
.imghome p{
	font-size: 25px;
	font-weight: bolder;
	text-shadow: 5px 10px 18px #888888;
}
/*SERVICES*/
.h2services{
	color: black;
	text-shadow: 5px 10px 18px #888888;
}
.services{
	padding: 50px 0 80px;
	text-align:center;
	width: 80%;
	margin: auto;

}
#btnwho{
	margin-bottom: 40px;
	border-radius: 50px;
	background-color: gold;
	color: rgb(199, 0, 0);
	border: 1px solid rgb(199, 0, 0);
	padding-right: 20px;
	padding-left: 20px;


}

.services h2,
.services h4{
	color: #4c4c4c;
	margin: 20px 0 20px;
}
#servcol{
	border: 0.5px solid grey;
	padding-top: 20px;
/*	padding-top: 20px;
	padding-left: 15px;
	padding-right: 15px:*/
	border-radius: 50px;
	box-shadow: 5px 2px 10px #888888;
}
#servcol:hover{
	border: 1px solid black;
	padding-top: 20px;
	padding-left: 15px;
	padding-right: 15px:
	border-radius: 50px;
	box-shadow:5px 5px 10px 18px #888888;
}
.services p{
	color: #737373;
	font-size: 14px;
	padding-bottom: 40px;
}
.services i{
	height: 90px;
	width: 90px;
	font-size: 50px;
	padding: 20px;
	border-radius: 50%;
	background-color: #b1bfd8;
	background-image: linear-gradient(315deg, #b1bfd8 0%, #6782b4 74%);
	/*background-color: #6699cc;*/
	color: gold;
}


/*modules*/

.container li{
	
	margin-top: 40px;
	margin-bottom: 30px;
	border-radius: 50px;
}

#modules{
	margin-top: 50px;
	margin-bottom: 30px;
}
#modules h2{
	margin-top: 60px;
	margin-bottom: 30px;
}
.moduleh2{
	margin-top: 40px;

}

/*Intro*/
.intro{
	padding: 30px;
	text-align: center;
	background-image: linear-gradient(315deg, #b1bfd8 0%, #6782b4 74%);
	text-shadow: 5px 5px 5px grey;
}
#introtext{
	color: white;
	text-shadow: 2px 2px 2px 2px #888888;
	font-weight: 300px;
	font-weight: bolder;

}

#introtext h2{
	font-weight: 300px;
	font-weight: bolder;
	text-shadow: 2px 2px 2px 2px #888888;
	color: gold;
	font-family: 'Raleway';
}
#introtext p{
	font-weight: 250px;
	font-weight: bolder;
	color: gold;
	font-family: 'Raleway';
}

.img5bg img{
	height: 30%;
	width: 80%;
	margin:auto;
	padding-right: 30px;
	background-image: cover;


}

/*about*/

#aboutvm{
	/*background-color:#6699cc; */

	width: 90%;
	margin: auto;
	border: 1px solid grey;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 1px;
	box-shadow: 1px 2px 1px 1px #888888;
	height: 250px;
	padding: 30px;
}
#aboutvm1{
	/*background-color:#6699cc; */
	
	width: 90%;
	margin: auto;
	border: 1px solid grey;

	padding-left: 20px;
	padding-right: 20px;
	margin-top: 1px;
	box-shadow: 1px 2px 1px 1px #888888;
	height: 250px;
	padding: 30px;
}
.aboutid2{
	padding: 30px;
}

#aboutid2{
	width: 90%;
	margin: auto;
	margin-bottom: 30px;
	
	margin-bottom: 30px;
	padding: 50px;
}
#aboutmission{
	width: 100%;
	margin: auto;
	margin-bottom: 30px;

}
#aboutid2{
	
	border: 1px solid grey;
	padding: 10px;
	box-shadow: 1px 2px 1px 1px #888888;
}
.aboutimg{
	width: 100%;
	height: 350px;
	margin: auto;
}
.aboutimg1{
	width: 100%;
	height: 300px;
	margin: auto;
}
#aboutid2 h3,
#aboutmission h3{
	box-shadow: 1px 2px 1px 1px #888888;
	background-color: #6699cc;
	text-shadow: 1px 2px 1px 1px #888888;
	font-family: 'Raleway';
	padding: 10px;
}

	



/*#aboutvm{
		border-radius: 20px;
	text-shadow: 5px 5px 10px 18px #888888;
}*/


/*contact*/

.cardcontact{
	width: 100%;
	padding: 40px;
	text-shadow: 5px 5px 10px 18px #888888;
	color: black;


}
.gmap{
	border: 1px solid grey;
	width: 100%;
	height: 250px;
	margin-left: 20px;
	margin-right: 30px;
	margin:auto;
}
.getintouch{
	padding: 20px;
	padding-left-right: 30px;
	color: black;
}

.contacts{
	padding:30px;
	text-align: center;

}
.contacthome{
	background-image: url("../images/contactus1.jpeg")
	background-image: cover;
}
.contacts .row{
	padding: 0;

}
.contacts p{
	padding-bottom: 80px;
	color: #737373;
	padding:0;
}
.contacts h2{
	color: #4c4c4c;
	margin: 20px 0 20px;
}

.contacts i{
	font-size: 20px;

}
.contacts #frmmessage{
	border-radius: 30px !important;
	text-align: left;
	font-weight: bolder;
	padding: 60px;
	
}
.contacts span{
	border-radius: 0 !important;
}
.cardcontact{
	height: 600px;
}
#frmmessage, 
.cardcontact{
	box-shadow: 5px 10px 10px black !important;
	height: 500px;
	margin-bottom: 30px;
	border-radius: 30px;
	/*width: 90%;*/
	border:2px solid #6699cc;
	padding: 0;
}
.contacts .btn{
	border-radius: 30px;
	width: 50%;
	font-size: 15px;
	background-color: gold;
	color: rgb(199, 0, 0);
	border: 1px solid rgb(199, 0, 0);
	padding-right: 20px;
	padding-left: 20px;
	margin-top: 30px;
}
.contacts .btn:hover{
	background-color: #fff !important;
	color: red !important;
}

/*footer*/
.footer{
	
	color: #cccccc;
	background-color: #222222;
	background-image: url("../images/menubar.jpg");
}



@media(max-width: 768){
	.services{
		padding: 30px;
	}
}

/*pricing*/
@media(max-width: 768px){
	.pricing{
		padding: 30px;

	}

@media (max-width: 575.98px) { 
	.jumbotron-fluid {
        height: 100vh;
        position: fixed;
	}
	.header1{
		
		height: 800px;
	}
	.header1 img{
		width: 90%;
		height: 300px;
		margin: 20px 0 20px;
	}
	.header1 .btn{
		font-size: 10px;
		margin-left: 20px;
		margin: auto;
		font-weight: bolder;

	}
	#lpbutton {
    border-radius: 30px;
    font-family: Arial, serif !important;
    font-size: 18px;
    width: 190px;
	}
	#header1 h2{
		font-size: 30px !important;
		
	}
/*		.header1 p{
			font-size: .5rem !important;
			font-weight: 10px !important;
		}*/
		.lpbox{
			padding:20px;
			height: 300px;
			width: 80%;
		}
		.logo{
			height: 80%;
    		width: 80%;
    		float: left;
    		padding: 5px;

		}
		.logoname{
			margin: auto;
		}
	}

	 #navmenu .nav-link{
		color: white;
		}
		.navbar{
			margin: auto;
		}
		.navbar-toggler-icon{
			float-right;
		}
		.aboutimg1{
			height: 200px;
		}
		
		#aboutid2{
			width: 90%;
			font-size: 20px;
		}	
		#aboutvm1{
			width: 150%;
			font-size: 20px;
			height: 250px;
			padding: 20px;
		}
		#aboutvm{
			width: 150%;
			font-size: 20px;
			height: 300px;
			padding: 20px;
		}
		.cardcontact{
			width: 90%
			margin:auto;
		}
		#frmmessage .cardcontact{
			
			padding: 0px;
			height: inherit;
			width: 100%;
		}
		.contacts #frmmessage{
				padding: 10px;
				height: inherit;
		}
		.getintouch {
    	padding: 15px;
    	
}

	}


// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
	.jumbotron-fluid {
        height: 100vh;
        position: fixed;
	}
	.header1{
		padding: 30px;
		height: 750px;
	}
	.header1 img{
		width: 100%;
		height: 300px;
		margin: 20px 0 20px;
	}
	.header1 .btn{
		font-size: 20px;
		margin-left: 20px;
		margin: auto;
		padding: 5px;

		}
	#header1 h2{
		font-size: 20px !important;
		font-weight: 20px !important;
		}
	.lpbox{
		padding:30px;
		height: 350px;
		width: 80%;
		}
	.logo{
		margin-left: 360px;
		}

		
	.logoname{
		margin: left;
		}
	}

	 #navmenu .nav-link{
		color: white;
		}
	.navbar{
		margin: auto;
		}
	.navbar-toggler-icon{
		float-right;
		}
		
	#aboutid2{
		width: inherit;
		font-size: 20px;
		}	
	#aboutvm1{
			width: inherit;
			font-size: 20px;
			height: 320px;
		}
	#aboutvm{
			width: inherit;
			font-size: 20px;
			height: 320px;
		}
		.aboutimg{
			height: 200px;
		}
		#aboutid2 h3{
			font-size: 25px;
		}
		.cardcontact{
			width: 90%
			margin:auto;
			height: 500px;
		}
		#frmmessage .cardcontact{
			
			padding: 0px;
			height: 500px;
			width: 100%;
		}


	}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }
